# .env.example - generated with dotenvx
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_KEY=""
CLOUDINARY_SECRET=""
MAPQUEST_KEY=""
MONGO_URL=""
SESSIONS_SECRET=""

# prod only
DOCKER_REGISTRY=""
NODE_ENV="" # set during deployment

# dev only
MONGO_ADMIN_PASSWORD=""
